* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin:0;
}

.allElements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    min-width: 100vw;
    height: 25vh;
    min-height: 25vh;
    font-family: 'Fjord One', serif;
    padding-top: 15px;
}

.introBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw; 
    height: 6vh;
}


.h1Box {
    display: flex;
    justify-items: flex-end;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 10px;
    width: 80vw;
}

.titleBox {
    min-width: 5vw;
    min-height: 1vh;
}

#title-text {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 50vw;
    padding-left: 10px;
    min-height: 5vh;
}

.menuBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20vw;
    height: 18vh;
}

.navListBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 50vw;
    list-style: none;
    font-size: 18px;
    font-family: 'Fjord One', serif;
    height: 5vh;
    background-color: black;
}

.navListBox a {
    text-decoration: none;
    color: white;
}

.iconItems {
    display: flex;
    align-items: center;
}
svg {
    
    fill: #fff;
}

.projectsBox {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-width: 100vw;
    /* height: 100vh; */
    min-height: 80vh;
    font-family: 'Fjord One', serif;
}

.projectsBox a {
    text-decoration: none;
    color: black;
}

.projectZero, .projectOne, .projectTwo, .projectThree, .projectFour  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 3px;
    font-size: 35px;
    width: 100vw;
    min-width: 100vw;
    /* height: 100vh; */
    min-height: 80vh;
}

.projectZero { 
    display: flex;
    background-image:linear-gradient(180deg, rgb(243, 167, 26), rgb(231, 136, 151) );   

}

.projectOne {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(180deg, rgb(231, 136, 151), rgb(168, 55, 168) );
}

.projectTwo {
    display: flex;
    background-image:linear-gradient(180deg, rgb(168, 55, 168), rgb(93, 93, 236) );
}

.projectThree {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(180deg, rgb(93, 93, 236), rgb(74, 231, 81) );
}

.projectFour {
    display: flex;
    background-image:linear-gradient(180deg, rgb(74, 231, 81), rgb(206, 169, 48) );
} 

/* .projectZero .boxTitle {
    display: flex;
    justify-content: center;
    width: 100vw
} */

.boxTitle {
    font-size: 25px;
}

.card {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 60vh;
    box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.upsideDown .card {
    flex-direction: column;
}

.upsideDown video {
    border-radius: 5px 5px 0 0;
    height: 120px;
}

.normalSide .card {
    flex-direction: column;
}

.normalSide video {
    border-radius: 5px 5px 0 0;
    height: 120px;
    z-index: 1;
}

.videoBox {
    height: 120px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    height: 40vh;
    width: 58vw;
}

.container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 36vh;
    width: 58vw;

}

.container ul li {
    width: 50vw;
    list-style: none;
}

.container span {
    text-decoration: underline;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

            @media (min-width: 600px) {
                
                .headerBox {
                    padding-top: 0;
                }
                
                .introBox {
                    width: 50vw; 
                    height: 25vh;
                }

                .h1Box {
                    font-size: 60px;
                    line-height: 100px;
                    letter-spacing: 5px;
                    padding-left: 15px;
                    height: 13vh;
                    width: 50vw;
                }
                
                .titleBox {
                    min-width: 30vw;
                    min-height: 12vh;
                }
                
                #title-text {
                    font-size: 25px;
                    width: 30vw;
                }
                
                .menuBox {
                    flex-direction: row;
                    align-items: center;
                    min-width: 50vw;
                }
                
                .navListBox {
                    min-width: 30vw;
                    font-size: 25px;
                }
                
                .projectsBox {
                    flex-direction: row; 
                    justify-content: space-evenly;
                    height: 75vh;
                    min-height: 75vh;
                }
                
                .projectZero, .projectOne, .projectTwo, .projectThree, .projectFour  {
                    font-size: 30px;
                    width: 25vw;
                    min-width: 25vw;
                    height: 75vh;
                    min-height: 75vh;
                }
                
                
                .projectOne {
                    flex-direction: column-reverse;
                }
                
                .projectThree {
                    flex-direction: column-reverse;
                }
        
                .boxTitle {
                    font-size: 30px;
                }
                
                .card {
                    justify-content: center;
                    width: 17vw;
                    height: 50vh;
                  }

                .upsideDown .card {
                    flex-direction: column-reverse;
                }
                
                .upsideDown video {
                    border-radius: 0 0 5px 5px;
                    height: 135px;
                }
                
                .normalSide video {
                    height: 135px;
                }
                
                .videoBox {
                    height: 135px;
                }
                  
                  
                .container {
                    justify-content: space-evenly;
                    padding: 0 15px 0 15px;
                    min-width: 13vw;
                    width: 17vw;
                    min-height: 35vh;
                  }
    
                .container ul {
                      min-height: 30vh;
                      padding-left: 0;
                      line-height: 25px;
                  }

                .container ul li {
                    width: 15vw;
                }

            }